@import './config';
// Global styles

main {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
}
