video {
  width: 100%;
  height: auto;
  position: absolute;

  @media(max-width: 560px){
    width: 100%;
    height: auto;
  }
}

.button{
  background-color: white;
  border:0;
}

.controlrow{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.videocol {
  position: relative;
  height: calc(100vw * 9.0/16.0);
}
